@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  @apply bg-gray-100
}
.ant-btn-primary{
  background-color:#1677ff;
}
@media (min-width:768px){
  body{
    overflow: hidden;
  }
  .categories::-webkit-scrollbar{
    display: none;
  }

}